<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation</title>
</head>
<body>
    <h1>Welcome to my first API</h1>
    Available endpoints
    
    <ul>
        <li>/: Api Documentation</li>
        <li>/hello/[name]: Insert your name and it will greet you</li>
        <li>/sum: takes two parametrs, a and b, and returns a sum</li>
        <li>/fizzbuzz: takes param n, returns fizzbuzz</li>
        <li>/demographics/[country]: returns demographics for a country</li>
        <li>/classify_iris: pass in all variables from iris dataset, get prediction using RF</li>
    </ul>
</body>
</html>